<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="yongjy@126.com">
    <title>{{if(title){}}{{=title}}{{}else{ }}{{='谢谢你的爱'}}{{ } }}</title>
    <!-- Bootstrap core CSS -->
    <link href="{{=env.css}}/??bt/bootstrap.min.css,bt/navbar-fixed-top.css,bt/carousel.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{=env.js}}/ie/??html5shiv.min.js,respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <!-- json.stringify {{-JSON.stringify('goo')}} -->
