<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			body{padding:50px;
			font-size:14px;}
			a{color:#00b7ff}
			#content{width:800px;margin-left:auto;margin-right:auto;}
			#room{background-color:#ddd;margin-bottom:1em;}
			messages{width:690px;height:300px;overflow:auto;margin-bottom:1em;margin-right:10px;}
		</style>
	</head>
	<body>
		<div id="content">
			<div id="room-list"></div>
			<div id="messages"></div>
			<form action="" id="send-form">
				<input id="send-message" type="">
				<input id="send-button" type="sibmit" value="Send">
				<div id="help">
					Chat commands:
					<ul>
						<li>Change nickname:
							<code>/nick [username]</code>
						</li>
						<li>Join/create room: 
							<code>/join [room name]</code>
						</li>
					</ul>
				</div>
			</form>
		</div>


	</body>
</html>
