
    <% include include/head %>
    <div id="box">
        <div class="header">
            <div class="nav">
                <ul class="navlist">
                    <li class="navItem navItem1"><a href="">页面导航1</a></li>
                    <li class="navItem navItem2"><a href="">页面导航2</a></li>
                    <li class="navItem navItem3"><a href="">页面导航3</a></li>
                    <li class="navItem navItem4"><a href="">页面导航4</a></li>
                    <li class="navItem navItem5"><a href="">页面导航5</a></li>
                    <li class="navItem navItem6"><a href="">页面导航6</a></li>
                    <li class="navItem navItem7"><a href="">页面导航7</a></li>
                    <li class="navItem navItem8"><a href="">页面导航8</a></li>
                    <li class="navItem navItem9"><a href="">页面导航9</a></li>
                    <li class="navItem navItem10"><a href="">页面导航10</a></li>
                </ul>
            </div>
        </div>
        <div class="content"></div>
        <div class=""></div>
    </div>
</body>
</html>
